<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Pokedex - Result</title>
</head>
<body>
    <h1><%= pokemon.name %> (#<%= pokemon.id %>)</h1>
    <img class="pokemon-image" src="<%= pokemon.image %>" alt="<%= pokemon.name %>">
    <p>Type: <%= pokemon.types %></p>
    <a href="/">Back to Search</a>
</body>
</html>
